<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <input type="button" value="Load more" data-action="load-more">
</form>